<div class="page-header">
    <h2 class="inline">
        Meta Tags <small><a ng-click="addForm()"> <i class="fa fa-plus"> </i></a></small>
    </h2>
</div>

<div ng-repeat="meta in contentInstance.metaList">
    <div class="form-group">
        <label class="col-sm-3 control-label" for="metaType">Type</label>
        <div class="col-sm-4">
            <select id="metaType" ng-model="meta.type" class="form-control" ng-options="meta for meta in metaList">
                <option value=""></option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label" for="metaValue">Value</label>
        <div class="col-sm-4">
            <textarea rows="3" id="metaValue" class="form-control" ng-model="meta.value"></textarea>
        </div>
    </div>
</div>
