<plugin name='content' version='2.4.9-RC1' grailsVersion='2.1 &gt; *'>
  <author>CauseCode</author>
  <title>Content Plugin</title>
  <description>A plugin used to manage contents like static pages, menus etc. at one place.
Also provides shortened and user friendly urls.
</description>
  <documentation>http://grails.org/plugin/content</documentation>
  <type>ContentGrailsPlugin</type>
  <resources>
    <resource>ContentBootStrap</resource>
    <resource>ContentResources</resource>
    <resource>ContentUrlMappings</resource>
    <resource>com.cc.content.ContentFilters</resource>
    <resource>com.cc.content.ContentRevisionController</resource>
    <resource>com.cc.content.PageLayoutController</resource>
    <resource>com.cc.content.blog.BlogController</resource>
    <resource>com.cc.content.blog.comment.CommentController</resource>
    <resource>com.cc.content.faq.FAQController</resource>
    <resource>com.cc.content.inputWidget.InputWidgetController</resource>
    <resource>com.cc.content.meta.MetaController</resource>
    <resource>com.cc.content.navigation.MenuController</resource>
    <resource>com.cc.content.navigation.MenuItemController</resource>
    <resource>com.cc.content.news.NewsController</resource>
    <resource>com.cc.content.page.PageController</resource>
    <resource>com.cc.content.Content</resource>
    <resource>com.cc.content.ContentMeta</resource>
    <resource>com.cc.content.ContentRevision</resource>
    <resource>com.cc.content.PageLayout</resource>
    <resource>com.cc.content.blog.Blog</resource>
    <resource>com.cc.content.blog.comment.BlogComment</resource>
    <resource>com.cc.content.blog.comment.Comment</resource>
    <resource>com.cc.content.faq.FAQ</resource>
    <resource>com.cc.content.inputWidget.InputWidget</resource>
    <resource>com.cc.content.meta.Meta</resource>
    <resource>com.cc.content.navigation.Menu</resource>
    <resource>com.cc.content.navigation.MenuItem</resource>
    <resource>com.cc.content.news.News</resource>
    <resource>com.cc.content.page.Page</resource>
    <resource>com.cc.content.page.PageRevision</resource>
    <resource>com.cc.content.ContentService</resource>
    <resource>com.cc.content.blog.BlogService</resource>
    <resource>com.cc.content.blog.comment.CommentService</resource>
    <resource>com.cc.content.inputWidget.InputWidgetService</resource>
    <resource>com.cc.content.navigation.MenuItemService</resource>
    <resource>com.cc.seo.friendlyurl.FriendlyUrlService</resource>
    <resource>com.cc.content.ContentTagLib</resource>
    <resource>com.cc.content.blog.BlogTagLib</resource>
    <resource>com.cc.content.inputWidget.InputWidgetTagLib</resource>
    <resource>com.cc.content.navigation.MenuTagLib</resource>
    <resource>com.cc.content.page.PageTagLib</resource>
  </resources>
</plugin>