<plugin name='content' version='1.8' grailsVersion='2.1 &gt; *'>
  <author>CauseCode</author>
  <title>Content Plugin</title>
  <description>A plugin used to manage contents like static pages, menus etc. at one place.
</description>
  <documentation>http://grails.org/plugin/content</documentation>
  <type>ContentGrailsPlugin</type>
  <resources>
    <resource>com.cc.content.ContentFilters</resource>
    <resource>com.cc.blog.BlogController</resource>
    <resource>com.cc.content.PageLayoutController</resource>
    <resource>com.cc.content.faq.FAQController</resource>
    <resource>com.cc.content.meta.MetaController</resource>
    <resource>com.cc.content.news.NewsController</resource>
    <resource>com.cc.navigation.MenuController</resource>
    <resource>com.cc.navigation.MenuItemController</resource>
    <resource>com.cc.page.PageController</resource>
    <resource>com.cc.blog.Blog</resource>
    <resource>com.cc.blog.BlogComment</resource>
    <resource>com.cc.blog.Comment</resource>
    <resource>com.cc.content.Content</resource>
    <resource>com.cc.content.ContentMeta</resource>
    <resource>com.cc.content.PageLayout</resource>
    <resource>com.cc.content.faq.FAQ</resource>
    <resource>com.cc.content.meta.Meta</resource>
    <resource>com.cc.content.news.News</resource>
    <resource>com.cc.navigation.Menu</resource>
    <resource>com.cc.navigation.MenuItem</resource>
    <resource>com.cc.page.Page</resource>
    <resource>com.cc.content.ContentService</resource>
    <resource>com.cc.seo.friendlyurl.FriendlyUrlService</resource>
    <resource>com.cc.blog.NestedCommentTagLib</resource>
    <resource>com.cc.content.ContentTagLib</resource>
    <resource>com.cc.navigation.MenuTagLib</resource>
    <resource>com.cc.page.PageTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://grails.org/plugins' url='http://grails.org/plugins' />
  </repositories>
  <dependencies />
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='spring-security-core' version='1.2.7.3' />
      <plugin group='org.grails.plugins' name='taggable' version='1.0.1' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='resources' version='1.2.RC2' />
      <plugin group='org.grails.plugins' name='jquery' version='1.8.3' />
    </runtime>
  </plugins>
  <runtimePluginRequirements>
    <plugin name='hibernate' version='2.1 &gt; *' />
  </runtimePluginRequirements>
  <behavior />
</plugin>