<section id="get-in-touch-section">
    <div class="signup">
        <div class="container text-center">
            <h3 class="title">Get a free hour of consulting</h3>
            <p class="summary">Leave your contact details and we will reach out to you within 24 hours</p>
            <form class="signup-form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Enter your email address" ng-model="lead.email">
                </div>
                <a class="btn btn-cta btn-cta-primary" ng-click="showGetStartedOverlay('Get Started', 'consulting')">
                    SUBMIT
                </a>
            </form>
        </div>
    </div>
</section>
