<div class="container" ng-controller="PageController">
	<div class="page-header">
		<h2>Edit Page</h2>
	</div>
	<div class="row text-left">
		<form class="form-horizontal" on-submit="contentInstance.$update()" name="listForm">
			<div ng-include="'views/page/_form.html'"></div>
			<div ng-include="'views/meta/_form.html'"></div>
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">
					<i class="fa fa-fw fa-check-square-o"></i> Update
				</button>
				<a ui-sref="urlMap({action: 'list'})" class="btn btn-default"> <i
				class="fa fa-th-list fa-fw"></i> Cancel
				</a>
			</div>
		</form>
	</div>
</div>


