<div ng-controller="PageController">
    <section id="static-pages" class="static-pages section">
        <div class="container">
            <div class="page-header">
                <h2 class="tab-heading inline">{{pageInstance.title}}</h2>
                <span class="text-muted">{{pageInstance.subTitle}}</span>
            </div>
            <div ng-bind-html="pageInstance.body"></div>
        </div>
    </section>
    <div class="has-bg-color">
        <!-- TODO: Make this generic. Causecode app specific template. -->
        <div ng-include src="'get-in-touch.html'"></div>
    </div>
</div>