<section ng-controller="BlogController">
    <df-header page-header="true">
        Edit Blog
    </df-header>

    <df-content>
        <form class="form-horizontal" on-submit="updateBlogPost(contentInstance)">
            <div ng-include="'views/content/_form.html'"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="tags">Tags</label>
                <div class="col-sm-4">
                    <input id="tags" type="text" class="form-control" placeholder="Enter comma separated tags"
                           ng-model="contentInstance.tags">
                </div>
            </div>
            <div ng-include="'views/meta/_form.html'"></div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button ng-show="isBlogEditable()" type="button" class="btn btn-danger" ng-click="deleteBlog(blogInstance)">Delete</button>
                    <a ui-sref="blogs()" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </form>
    </df-content>
</section>
