<div class="modal-header" ng-controller="MenuItemController">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="create-menu-item-title">Create Menu Item</h4>
</div>
<form class="form-horizontal" on-submit="createMenuItem()">
    <div class="modal-body">
        <div class="alert hide fade in" id="alert-lead">
            <button type="button" class="close" onclick="$(this).parent().fadeOut()">&times;</button>
            <p></p>
        </div>
        <div ng-include="'views/menuItem/templates/_form.html'"></div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Create</button>
        <a ng-click="$close()" class="btn btn-default" data-toggle="modal"> <i class="icon-plus"></i> &nbsp;Cancel
        </a>
    </div>
</form>
