<aside id="blog-sidebar" class="blog-sidebar col-md-3 col-sm-4 col-xs-12 col-md-offset-1 col-sm-offset-0 col-xs-offset-0">
    <section class="widget search" ng-if="actionName === 'list'">
        <h3 class="sr-only title">Search Blog</h3>
        <form class="search-blog-form" on-submit="filterBlogs('', '', '{{queryText}}')">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="queryText" placeholder="Search blog...">
            </div>
            <button type="submit" class="btn btn-cta btn-cta-primary"><i class="fa fa-search"></i></button>
        </form>
    </section>
    <section class="widget social">
        <h3 class="title">Get Connected</h3>
        <ul class="list-inline">
            <li>
                <a href="https://www.facebook.com/causecode" data-share="true">
                    <i class="fa fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/causecode" class="" data-show-count="false">
                    <i class="fa fa-twitter-square"></i>
                </a>
            </li>
            <li>
                <a href="mailto:bootstrap@causecode.com">
                    <i class="fa fa-envelope-square"></i>
                </a>
            </li>
        </ul>
    </section>
    <section class="widget archives">
        <h3 class="title">Archives</h3>
        <div class="blog-archives">
            <tabset vertical="true" type="pills">
                <tab ng-click="filterBlogs()" heading="ALL"></tab>
                <tab ng-repeat="monthFilter in monthFilterList" ng-click="filterBlogs('{{monthFilter}}', '{{tag}}')"
                    heading="{{monthFilter}}">
                </tab>
            </tabset>
        </div>
    </section>
    <section class="widget tags">
        <h3 class="title inline">Tags </h3><i class="fa fa-tags"></i>
        <div class="blog-tags">
            <tabset>
                <tab ng-click="filterBlogs()" heading="ALL"></tab>
                <tab ng-repeat="tag in tagList" ng-click="filterBlogs('{{monthFilter}}', '{{tag[1]}}')" rel="{{tag[0]}}"
                    heading="{{tag[1]}}"></tab>
            </tabset>
        </div>
    </section>
    <section class="widget recent-posts">
        <h3 class="title">Recent Posts</h3>
        <ul class="list-unstyled">
            <li ng-repeat="blog in blogInstanceList| limitTo: 5 | orderBy: '-publishedDate'">
                <a ui-sref="urlMap.resource({ctrl: 'blog', action: 'show', resource: blog.id})">
                    {{blog.title}}
                </a><br />
                <span class="date">{{blog.publishedDate | date: mm/dd/yyyy}}</span>
            </li>
        </ul>
    </section>
    <script>
        var startSize = 15;
        var endSize = 35;
        var startColor = '#428bca';
        var endColor = '#428bca';
        $(function () {
          $('div.blog-tags a').tagcloud({
              size: {start: 40, end: 15, unit:'px'},
              color: {start: "#"+startColor, end: "#"+endColor}
          });
        });
    </script>
</aside>