<div show-on-promise="blogListPromise">
    <article class="post" ng-repeat="blog in instanceList | filter: queryText">
        <div class="content">
            <h3 class="post-title">
                <a ui-sref="blogView({resource: blog.id, title: blog.encodedTitle})">
                    {{blog.title}} {{queryText}}
                </a>
            </h3>
            <div class="meta">
                <ul class="meta-list list-inline">
                    <li class="post-time post_date date updated" ng-if="!blog.publishedDate">{{blog.lastUpdated | date: MM/dd/yyyy}}</li>
                    <li class="post-time post_date date updated" ng-if="blog.publishedDate">{{blog.publishedDate | date: MM/dd/yyyy}}</li>
                    <li class="post-author"> by {{blog.author}}</li>
                    <li class="post-comments-link">
                        <a ui-sref="blogView({resource: blog.id, title: blog.encodedTitle})">
                            <i class="fa fa-comments"></i>{{blog.numberOfComments}} Comments
                        </a>
                    </li>
                </ul>
            </div>
            <div class="cover" ng-if="blog.blogImgSrc">
                <div>
                    <img class="blog-img" ng-src="{{blog.blogImgSrc}}"/>
                </div>
            </div>
            <div class="post-entry">
                <span ng-bind-html="blog.body | htmlToText: 30"></span>
                <a class="read-more" ui-sref="blogView({resource: blog.id, title: blog.encodedTitle})">
                    Read more <i class="fa fa-long-arrow-right"></i>
                </a>
            </div>
        </div>
    </article>
    <div ng-if="!instanceList">
        <span>Loading Blogs</span>
    </div>
    <div ng-if="instanceList.length == 0">
        <span>No results found</span>
    </div>
    <pagination total-items="totalCount" ng-model="elementModels.currentPage" max-size="paginationSize"
        ng-change="changePage()" items-per-page="itemsPerPage" ng-show="totalCount && totalCount > itemsPerPage">
    </pagination>
</div>