<div>
	<h2 class="title">Create Blog</h2>
	<input id="title" type="text"
		class="form-control subject ng-pristine ng-valid" placeholder="Title"
		ng-model="blog.title" validation-errors=""> 
	
	<input
		id="subTitle" type="text"
		class="form-control subject ng-pristine ng-valid"
		placeholder="Sub Title" ng-model="blog.subTitle" validation-errors="">
		
	<input
		id="body" type="text"
		class="form-control subject ng-pristine ng-valid"
		placeholder="Body" ng-model="blog.body" validation-errors="">
		
	<input
		id="tags" type="text"
		class="form-control subject ng-pristine ng-valid"
		placeholder="Tags" ng-model="blog.tags" validation-errors="">
		
	<input type="checkbox" ng-model="publish">			

	<h2 class="title">Meta Tags</h2>
</div>