<div class="container" ng-controller="BlogController">
    <div class="page-header">
        <h2>Create Blog</h2>
    </div>
    <div class="row">
        <form class="form-horizontal" on-submit="contentInstance.$save()">
            <div ng-include="'views/content/_form.html'"></div>
            <div ng-include="'views/meta/_form.html'"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label" for="tags">Tags</label>
                <div class="col-sm-4">
                    <input id="tags" type="text" class="form-control" placeholder="Enter comma separated tags"
                        ng-model="contentInstance.tags">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a ui-sref="urlMap({action: 'list'})" class="btn btn-default"> <i class="fa fa-th-list fa-fw"></i>
                        Cancel
                    </a>
                    <button type="submit" class="btn btn-default">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>
