<div class="wrapper container" ng-controller="BlogController">
    <h2 class="title">Blogs</h2>
    <div class="blog row">
        <div id="blog-list" class="blog-list section col-md-8 col-sm-8 col-xs-12">
            <paged-list model-name="'Blog'" items-per-page="10" filter="true" 
                response-callback="'initialiseGetListResponse'"
                template-url="'views/blog/_tabled-list.html'"></paged-list>
        </div>

        <div ng-include src="'views/blog/_filter.html'"></div>
    </div>
</div>