<div class="blog wrapper container" ng-controller="BlogController">
    <div class="row blog">
        <div id="blog-entry" class="blog-entry section col-md-8 col-sm-8 col-xs-12" ng-if="blogInstance">
            <article class="post">
                <h2 class="title">
                    {{blogInstance.title}}
                    <small ng-show="isBlogEditable(blogInstance)" ng-class="ng-hide">
                        <a ui-sref="urlMap.resource({ctrl: 'blog', action: 'edit', resource: blogInstance.id})">
                            <i class="fa fa-edit"> </i>
                        </a>
                    </small>
                </h2>
                <div class="meta">
                    <ul class="meta-list list-inline">
                        <li class="post-time post_date date updated" ng-show="blogInstance.publishedDate">{{blogInstance.publishedDate | date: MM/dd/yyyy}}</li>
                        <li class="post-time post_date date updated" ng-show="!blogInstance.publishedDate">{{blogInstance.lastUpdated | date: MM/dd/yyyy}}</li>
                        <li class="post-author"> by <a href="#">{{blogInstance.author}}</a></li>
                        <li class="post-comments-link">
                            <i class="fa fa-comments"></i>{{comments.length}} {{comments.length > 1 ? 'Comments': 'Comment'}}
                        </li>
                    </ul>
                </div>

                <div>
                    <button class="btn btn-primary facebook-share-icon-background"
                                socialshare socialshare-provider="facebook"
                                socialshare-url="https://www.causecode.com">
                            <i class="fa fa-facebook share-icon"></i>
                    </button>
                    <button class="btn btn-info twitter-share-icon-background"
                                socialshare socialshare-provider="twitter" 
                                socialshare-text="{{blogInstance.title}}" 
                                socialshare-hashtags="angularjs, causecode, groovy, grails"
                                socialshare-url="">
                            <i class="fa fa-twitter share-icon"></i>
                    </button>
                    <button class="btn linkedin-share-icon-background "
                                socialshare socialshare-provider="linkedin" 
                                socialshare-text="{{blogInstance.title}}" 
                                socialshare-url=""
                                socialshare-description="{{blogInstance.body | htmlToText: 30}}">
                            <i class="fa fa-linkedin share-icon"></i>
                    </button>
                </div>
                <hr>
                <div class="cover">
                    <div ng-if="blogInstance.blogImgSrc">
                        <img class="blog-img" ng-src="{{blogInstance.blogImgSrc}}"/>
                    </div>
                    <p ng-bind-html="blogInstance.body"></p>
                </div>
            </article>
            <article class="comments">
                <div class="page-header">
                    <h2 class="title">Comments</h2>
                    <a ng-click="showCommentOverlay('{{blogInstance.id}}', '')" title="Add">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <div class="media comment" ng-repeat="commentInstance in comments">
                    <div class="media-body">
                        <div ng-include src="'views/blog/_comment-body.html'"></div>
                    </div>
                </div>
                <div ng-hide="comments">
                    <p>Sorry, no comments to display.</p>
                </div>
            </article>
        </div>
        <div class="blog-entry section col-md-8 col-sm-8 col-xs-12" ng-if="!blogInstance">
            <span>Loading Blog</span>
        </div>
        <div ng-include src="'views/blog/_filter.html'"></div>
    </div>
</div>
