#menu-item-sorting ul {
    list-style: none;
}

#menu-item-sorting ul.thumbnails {
    margin-left: -40px;
}

#menu-item-sorting ul li.thumbnail {
    float: none;
    margin-bottom:10px;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    cursor: move;
}

#menu-item-sorting a#save-button {
    float:right;
    margin-top:1px;
    font-weight:bold;
}

li.ui-sortable-placeholder {
    visibility:visible !important;
    background-color: whitesmoke;
}

#menu-item-sorting li.temporaryMenuItem {
    background-color: #FFFFCC;
}

li.ui-sortable-helper {
    visibility:visible !important;
    background-color: #CCCCFF;
}

i.icon-move {
    font-size:10px;
    margin-right:5px;
    line-height:25px;
}

i.icon-pencil {
    font-size:11px;
    margin-right:5px;
    line-height:25px;
}