#menu-item-sorting ul.thumbnails {
    margin-left: 0px;
}
#menu-item-sorting li.thumbnail {
	float: none;
	-webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
#menu-item-sorting a#save-button {
    float:right;
}
li.ui-sortable-placeholder {
    visibility:visible !important;
    background-color: whitesmoke;
}
