<div class="container" ng-controller= "TextFormatController"><!-- ng-controller="BlogController"> -->
    <div class="page-header">
        <h2>Create a Text Format</h2>
    </div>
    <div class="row">
        <form class="form-horizontal" on-submit="textFormatInstance.save()">
            <div ng-include="'views/textFormat/_form.html'"></div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <a ui-sref="urlMap({action: 'list'})" class="btn btn-default"> <i class="fa fa-th-list fa-fw"></i>
                        Cancel
                    </a>
                    <button type="submit" class="btn btn-default">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>