<div class="form-group">
    <label class="col-sm-3 control-label" for="Name">Name</label>
    <div class="col-sm-4">
        <input type="text" class="form-control" ng-model="menuInstance.name">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label" for="role">Role</label>
    <div class="col-sm-4">
        <select ng-model="menuInstance.role" class="form-control" multiple
            ng-options="role.authority for role in roleList">
        </select>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3"></label>
    <div class="col-sm-4">
        <input type="checkbox" ng-model="menuInstance.showOnlyWhenLoggedIn"> Show Only when Logged In
    </div>
</div>