<div class="container" ng-controller="FAQController">
    <div class="page-header">
        <h1>Create FAQ</h1>
    </div>

    <div>
        <form class="form-horizontal" on-submit="contentInstance.$save()">
            <fieldset>
                <div ng-include="'views/content/_form.html'"></div>
                <div class="form-actions col-sm-offset-3 df-gutter-bottom">
                    <a ui-sref="urlMap({action: 'list'})" class="btn btn-default"> <i class="fa fa-th-list fa-fw"></i>
                        Cancel
                    </a>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>