<div class="row form-group">
    <label class="col-sm-3 control-label" for="title">Title</label>
    <div class="col-sm-4">
        <input id="body" type="text" class="form-control" placeholder="Enter Title" autofocus 
                ng-model="contentInstance.title">
    </div>
</div>

<div class="row form-group">
    <label class="col-sm-3 control-label" for="subTitle">Sub Title</label>
    <div class="col-sm-4">
        <input id="subTitle" type="text" class="form-control" placeholder="Enter Sub Title"
                ng-model="contentInstance.subTitle">
    </div>
</div>

<div class="form-group" ng-if="isBlogCtrl">
    <label class="col-sm-3 control-label" for="image">Image</label>
    <div class="col-sm-4">
        <div ng-show="contentInstance.blogImgSrc">
            <img class="blog-img" ng-src="{{contentInstance.blogImgSrc}}" style="height: 100px;" />
        </div>
        <h4>
            <input type="button" class="btn btn-default btn-sm" value="Upload" 
                    onclick="document.querySelector('#blogImgUpload').click();" />  
            <small>Max 2 MB size allowed</small>
        </h4>
        <input id="blogImgUpload" style="display:none;" type="file" 
                ng-file-select="onFileSelect($files, contentInstance)" class="df-margin-bottom" />
    </div>
    <div class="col-sm-1" ng-show="contentInstance.blogImgSrc">
        <span class="close" ng-click="removeBlogImg()">&times;</span>
    </div>
</div>

<div class="row form-group">
    <label class="col-sm-3 control-label" for="editorType">Editor Type</label>
    <div class="col-sm-4">
        <select id="editorType" ng-model="contentInstance.type" class="form-control">
            <option value="TINYMCE">Tiny-MCE</option>
            <option value="MARKDOWN">Markdown</option>
            <option value="RAWCONTENT">Raw Content</option>
        </select>
    </div>
</div>

<div class="row form-group" ng-show="!contentInstance.type || contentInstance.type === 'TINYMCE'">
    <label class="col-sm-3 control-label">Body</label>
    <div class="col-sm-8">
        <textarea ui-tinymce="tinymceOptions" class="form-control" ng-model="contentInstance.body"></textarea>
    </div>
</div>

<div class="form-group" ng-show="contentInstance.type && contentInstance.type === 'MARKDOWN'">
    <label class="col-sm-3 control-label" style="margin-top: 25px;">Markdown Body</label>
    <div class="col-sm-9 padding-left-z padding-right-z" style="margin-bottom: 30px;">
        <pagedown-editor content="contentInstance.body" placeholder="Enter Markdown text" help="showMarkdownHelp()"
                show-preview="false" insert-image=""></pagedown-editor>
    </div>
    <label class="col-sm-3 control-label">Output</label>
    <div class="col-sm-9" ng-class="{'html-text-preview': contentInstance.body !== ''}">
        <pagedown-viewer content="contentInstance.body"></pagedown-viewer>
    </div>
</div>

<div class="form-group" ng-show="contentInstance.type && contentInstance.type === 'RAWCONTENT'">
    <label class="col-sm-3 control-label">Raw Body</label>
    <div class="col-sm-9 padding-left-z padding-right-z" style="margin-bottom: 30px;">
        <textarea class="form-control color-text-area" style="height: 300px;" ng-model="contentInstance.body"
                  rows="12"></textarea>
    </div>
    <label class="col-sm-3 control-label">Output</label>
    <div class="col-sm-9" ng-class="{'html-text-preview': contentInstance.body !== ''}">
        <pagedown-viewer content="contentInstance.body"></pagedown-viewer>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label"></label>
    <div class="col-sm-4">
        <input type="checkbox" id="publish" ng-model="contentInstance.publish"> Publish
    </div>
</div>