<div class="form-group">
    <label class="col-sm-3 control-label" for="title">Title</label>
    <div class="col-sm-4">
        <input id="body" type="text" class="form-control" placeholder="Enter Title" autofocus 
            ng-model="contentInstance.title">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label" for="subTitle">Sub Title</label>
    <div class="col-sm-4">
        <input id="subTitle" type="text" class="form-control" placeholder="Enter Sub Title"
            ng-model="contentInstance.subTitle">
    </div>
</div>

<div class="row form-group">
    <label class="col-sm-3 control-label" for="editorType">Editor Type</label>
    <div class="col-sm-4">
        <select id="editorType" ng-model="editorType" class="form-control">
            <option value="tinymce">Tiny-MCE</option>
            <option value="markdown">Markdown</option>
            <option value="rawContent">Raw Content</option>
        </select>
    </div>
</div>

<div class="form-group" ng-if="isBlogCtrl">
    <label class="col-sm-3 control-label" for="image">Image</label>
    <div class="col-sm-4">
        <input type="file" ng-file-select="onFileSelect($files)" autofocus class="df-margin-bottom" />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label" for="body">Body</label>
    <div class="col-sm-8">
        <textarea ui-tinymce="tinymceOptions" class="form-control" ng-model="contentInstance.body"></textarea>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-3 control-label"></label>
    <div class="col-sm-4">
        <input type="checkbox" id="publish" ng-model="contentInstance.publish"> Publish
    </div>
</div>